.DS_Store
*.class
*.iml
Phase01-Search/target/*
Phase01-Search/.idea/*
Phase01-Search/target/classes/EnglishData/*
*.dll
*.cache
*.pdb
*.xml
*.nuget.cache
*.json
*.assets.json
*.dgspec.json
*.nuget.dgspec.json
*.csproj.nuget.dgspec.json
*.assets.cache
*.packagespec.json
*.project.restore.info
*.dll
Phase01-Search/target/*
Phase01-Search/.idea/*
Phase01-Search/target/classes/EnglishData/*
*.pdb
*.cache
*.exe
Phase05/Phase05/Phase05/resources/stanford-corenlp-4.2.0-models-english.jar
*.swp
*.json
*.props
*.json
*.info
*.json
*.xml
*.info
*.json
*.json
*.info
Phase08/TestProject1/obj/rider.project.restore.info
