.DS_Store
*.class
*.iml
Phase01-Search/target/*
Phase01-Search/.idea/*
Phase01-Search/target/classes/EnglishData/*
*.dll
*.cache
*.pdb
*.xml
*.nuget.cache
*.json
*.assets.json
*.dgspec.json
*.nuget.dgspec.json
*.csproj.nuget.dgspec.json
*.assets.cache
*.packagespec.json
*.project.restore.info
